run = ["sh", "-c", "npm run dev"]
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[[ports]]
localPort = 5173
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "static"
publicDir = "dist"
build = ["sh", "-c", "npm run build"]

[agent]
expertMode = true
